 html{
      height: 100%;
    }
    body {
      background-color: #660099;
      height: 100%;
      margin: 0;
      font-family: Cuprum, Verdana, Arial, sans-serif;
    }
    .outside{
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #660099;
      float: left;
    }
    .inside{
      position: absolute;
      top: 30%;
      width: 100%;
      height: auto;
      background-color: #660099;
    }
    .down{
      position: relative;
      top: 80%;
      width: 100%;
      height: 90%;
      background-color: white;
      float: left;
      z-index: 1;
    }
    .table{
      overflow: visible;
      width: 50%;
      margin: 0 auto;
      padding-top: 12%;
      padding-bottom: 12%;
      background-color: #660099;
    }
    .contact{
      padding-top: 15%;
      width: 40%;
      margin: 0 auto;
      display: block;
      padding-left: 20%;
    }
    .farbe{
      color: #660099;
      font-size: 22px;
      font-family: Cuprum, Verdana, Arial, sans-serif;
      text-align: center;
      line-height: 150%;
      /*padding-top: 12%;*/
    }
    .ueberschrift{
      color: #660099;
      font-size: 25px;
      font-weight: bold;
      font-family: Cuprum, Verdana, Arial, sans-serif;
      text-align: center;
      line-height: 340%;
      padding-bottom: 20px;
    }
    .bio{
      /*background-color: #669999;*/
      padding: 10% 10% 10% 10%;
    }
    table, th, td{
      width: 1%;
      text-align: left;
      font-size: 20px;
      color: white;
      border: white;
      border-collapse: collapse;
      padding-left: 20%;
    }
    th{
      font-size: 25px;
    }
    td{
      text-align: left;
      padding-left: 20%;
    }
    .thumbnail{
      height: 80px;
    }
    .logo{
      position: absolute;
      left:44%;
      padding-top: 25px;
      height: 100px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    img{
      float: left;
      margin: 0px 10px 10px 0px;
    }
    .bildgroesse{
      height: 14px;
    }
    h1 {
      color: white;
      font-family: Bangers, Verdana,Arial, sans-serif;
      font-size: 60px;
      letter-spacing: 3px;
      text-align: center;
    }
    .ueberschrift_links{
      text-align: left;
    }
    p{
      color: white;
      font-size: 18px;
      font-family: Cuprum, Verdana, Arial, sans-serif;
      text-align: center;
      /*display: block;*/
    }
    .text_links{
      text-align: left;
    }
    input, textarea{
      width: 180px;
    }

    label {
      color: white;
      font-size: 18px;
      font-family: Cuprum, Verdana, Arial, sans-serif;
      text-align: center;
      line-height: 220%;
    }
    dt, dd{
      color: white;
      font-size: 18px;
      font-family: Cuprum, Verdana, Arial, sans-serif;
      line-height: 170%;
    }
    dt{
      font-weight: bold;
      font-size: 22px;
    }
    .navigation {
      /*#-webkit-font-smoothing: subpixel-antialiased;*/
      /*font-weight: bold;*/
      list-style: none outside none;
      display: block;
      vertical-align: top;
      right: 0px;
      top: 0px;
      position: fixed;
      z-index: 1;
      padding: 0.5% 3% 0% 0%;
      color: white;
      font-size: 14px;
      font-family: Cuprum, Verdana, Arial, sans-serif;
    }
    a{
      color: white;
      text-decoration: none;
    }
    a:hover{
      color: #9966DD;
    }
    li{
      display: inline;
      padding-left: 25px;
    }